#form{  
    font-family: verdana;
    font-size: 20px;
    margin:1px 1px;
    padding:10px;
    font-size:italic;
    background-color:#cfc;
    color:#000
}

#send{
    font-size: 30px;
    background-color:rgba(187, 77, 25, 0.548);
    border-radius: 6px;
    border: 2px solid #000000;
}
#titulo{
    color: white;
    text-align: center;
}
#a{
    background-color: lightblue;
}

#estado{
    font-size: 30px;
    color: #000000;
    width:70%;
}